//---------------------------------------------fonts
$font_path: "../fonts/";
//---------------------------------------------fonts###

//---------------------------------------------colors

// text colors
$color_text_standart: #000;
$color-red: #d61900;

// link colors
$color_link_standart: #4aa3df;

// button colors
$color_btn_standart_hover: #901101;
$color_btn_dark: darkred;
$color_btn_dark_hover: aqua;
//---------------------------------------------colors###