@import "index/main-slider";
@import "index/sertificats";
@import "index/widget";
@import "index/advantages";
@import "index/about";
@import "contacts/contacts";
@import "contacts/callback";

.section-padding{
    padding-top: 60px;
}

.section-title{
  padding-left: 40px;
  margin-bottom: 55px;
  position: relative;
  z-index: 99;
    &:before{
      content: '';
      width: 30px;
      height: 4px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      background-color: #d61900;
    }
}

.breadcrumbs{
  margin-top: 20px;
  &__link{
      color: $color-red;
  }
  & a{
    text-decoration: none;
    color: black;
    &:hover{
      text-decoration: underline;
    }
  }
}

.hidden{
    display: none;
  }