.main-slider {
    background-image: url('../img/main-bg.jpg');
    padding-top: 115px;

    &__slick {}

    &__prev,
    &__next{
         position: absolute;
         top: 50%;
         border-radius: 50px;
         border: 5px solid white;
         display: block;
         transform: translate(0,-50%);
         width: 60px;
         height: 60px;
         z-index: 99;
         background-size: 50%;
         background-repeat: no-repeat;
         background-position: center;
         cursor: pointer;
         background-color: rgba(255, 255, 255, 0);
         box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    }

    &__prev{
         left: 0;
         background-image: url('../img/arrow-left.svg');
    }

    &__next {
         right: 0;
         background-image: url('../img/arrow-right.svg');
    }

    &__item {
         padding: 150px 100px;
    }

    &__caption {
         color: white;
         margin-bottom: 20px;
    }
    &__btn{}
}

//-----------slick dots
  .slick-dots{
      bottom: 20px;
  }

.slick-dots li button:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    background-color: #fff;
    border: 1px solid $color-red;
    border-radius: 25px;
    opacity: 1;
}

.slick-dots li.slick-active button:before{
    background-color: $color-red;
    border: 1px solid white;
    opacity: 1;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}
//-----------------------